#ingredients {
    display: flex;
    width: 100%;
}
#appareil {
    display: none;
    width: 100%;
}
#ustensiles {
    display: none;
    width: 100%;
}
.filters {
    display: flex;
    flex-wrap: wrap;
    border-radius: 0px 0px 5px 5px!important;
    li {
        padding: 2.5px 0px 2.5px 12px;
        width: 33.33%;
    }
}
.custom-bg-primary {
    .dropdown-item {
        &:hover, &:focus {
            @include bg-lighten($color-custom-primary);
        }
    }
}
.custom-bg-succes {
    .dropdown-item {
        &:hover, &:focus {
            @include bg-lighten($color-custom-succes);
        }
    }
}
.custom-bg-danger {
    .dropdown-item {
        &:hover, &:focus {
            @include bg-lighten($color-custom-danger);
        }
    }
}